Kata 4

Ejercicio 1: Transformar cadenas

In [11]:

# PRIMER INTENTO FALLIDO

text = """Interesting facts about the Moon. 
... The Moon is Earth's only satellite. 
... There are several interesting facts about the Moon and how it affects life here on Earth. 
... On average, the Moon moves 4cm away from the Earth every year. 
... This yearly drift is not significant enough to cause immediate effects on Earth. 
... The highest daylight temperature of the Moon is 127 C."""
print(text)

palabras_clave = ["average", "temperature", "distance"]

Interesting facts about the Moon.
... The Moon is Earth's only satellite.
... There are several interesting facts about the Moon and how it affects life here on Earth.
... On average, the Moon moves 4cm away from the Earth every year.
... This yearly drift is not significant enough to cause immediate effects on Earth.
... The highest daylight temperature of the Moon is 127 C.

In [55]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text = text.split('. ')
text

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [56]:
palabras_clave = ["average", "temperature", "distance"]

In [57]:
for oraciones in text:
    for clave in palabras_clave:
        if clave in oraciones:
            print(oraciones)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [58]:
for oraciones in text:
    for clave in palabras_clave:
        if clave in oraciones:
            print(oraciones.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

Ejercicio 2: Formatenado Cadenas

In [6]:
nombre = "Moon"
gravity = 0.00162 #in kms
planet = "Earth"

In [7]:
title = f'datos de gravedad sobre {nombre}'

In [8]:
Hechos = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {nombre}: {gravity * 1000} m/s2 
"""

In [9]:
template = f"""{title.title()} 
{Hechos} 
""" 
print(Hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [10]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

print(Hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [14]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planet}
Gravedad en {nombre}: {gravity} m/s2
"""
print(new_template.format(nombre=nombre, planet=planet, gravity=gravity))

print(new_template.format(nombre=nombre, planet=planet, gravity=gravity*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Ganímedes: 0.00162 m/s2


Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Ganímedes: 1.6199999999999999 m/s2